<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登録フォーム</title>

    <link rel="stylesheet" th:href="@{css/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/regist.css}" type="text/css">

<script type="text/javascript" src="js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{js/lib/popper.min.js}"></script>
<script type="text/javascript" th:src="@{js/lib/tooltip.min.js}"></script>



</head>
<body>
		<h1>編集フォーム</h1>
	<div class="container">
		<div class="form-box">
			<form method="post" id="submit" th:action="@{/edit-order-conf}"
				enctype="multipart/form-data" th:object="${inputSkillForm}">
				<div th:unless="${user==null}">
				<input type="hidden" th:value="${user.empId}" name="empId">
				<input type="hidden" th:value="${user.humanName}" name="humanName">
				<input type="hidden" th:value="${user.assignCompanyName}" name="assignCompanyName">
				<input type="hidden" th:value="${user.joinDate}" name="joinDate">
				<input type="file" th:value="${user.iconImg}"  name="iconImg">
				
					<div class="base-skill">
						<h2>基本スキル</h2>
                        <div class="baseSkillError" style="color:red" th:errors="*{baseSkillScores}"></div>
						<div class="contents skill-point"
							th:each="baseSkill:${user.baseSkills}">
							<span class="box12"
								th:text="${baseSkill.baseSkill.baseSkillName}">ここに文章</span> <input
								type="hidden" th:value="${baseSkill.baseSkillId}"
								name="baseSkillIds"> <label>スキルポイント</label><input
								type="number" class="skill-value" name="baseSkillScores"
								th:value="${baseSkill.baseSkillScore}" min="1" max="100">
						</div>
					</div>
				</div>

					<div class="numeric-skill">
						<h2 class="numerical-ability-header">共通スキル</h2>
						<div class="numerical-abilities"
							th:each="commonSkill,commonSkillStat:${user.commonSkills}">
							<div class="indivisual-numetic-abilities"></div>
							<span th:text="${commonSkill.commonSkill.commonSkillName}">対障害</span>&nbsp;&nbsp;&nbsp;
							<select name="commonSkillScores"
								th:value="${commonSkill.commonSkillScore}"
								th:attr="id='CommonSkillScore['+__${commonSkillStat.index}__+']'"
								class="userCommonSkillScore">
								<option th:each="selectOption:${selectOptions}"
									th:value="${selectOption}"
									th:selected="${selectOption==commonSkill.commonSkillScore}"
									th:text="${selectOption}">
							</select>
							<pre class="description"
								th:text="${commonSkill.commonSkill.description}">共通スキル</pre>
							<input type="hidden" name="commonSkillIds"
								th:value="${commonSkill.commonSkillId}">
						</div>
					</div>




				<div class="editField" th:unless="${user==null}">
					<div class="sub-skill">
						<h2 class="special-ability-header">サブスキル</h2>
						<div class="special-abilities">
							<span th:each="subSkill:${subSkillList}" > <input
							th:value="${subSkill.subSkillName}"
								type="button" 
								th:class="${valueMap[subSkill.subSkillId]}"
								onclick="switchOnOff(this)" 
								><input type="hidden"
								th:value="${subSkill.subSkillId}"
								 name="subSkillIds">
							</span>
						</div>
					<button type="button" id="output" class="btn btn-blue">送信</button>
					</div>
				</div>
			</form> 

		</div>
	</div>

	<div class="modal-box" style="display: none;">
		<div class="back-screen"></div>
		<div class="result-box">
			<textarea id="result"></textarea>
			<div class="modal-footer">
				<button class="btn btn-blue copy">Copy</button>
				<button class="btn btn-red close">Close</button>
			</div>
		</div>
	</div>

	<div class="hide">
		<input type="checkbox" class="ability" data-off="OFF" data-on="ON">

		<div class="numerical-ability">
			<label></label> <select class="" name="xxxxx">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3" selected>3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<div class=" description"></div>
		</div>

	</div>
	<script type="text/javascript" th:src="@{js/skill.js}"></script>
</body>

</html>