<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登録フォーム</title>

    <link rel="stylesheet" th:href="@{css/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/regist.css}" type="text/css">

    <script type="text/javascript" src="js/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{js/lib/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{js/lib/tooltip.min.js}"></script>
    



</head>
<body>
    <h1>登録フォーム</h1>
    <div class="container">
        <div class="form-box">
          <form method="post" id="submit" th:action="@{insertSkills}" enctype="multipart/form-data" th:object="${inputSkillForm}"> 
          
            <div class="profile">
                <h2>プロフィール</h2>
                <div>
                <div class="contents">
                    <label>名前</label><input type="text" id="name" th:field="*{humanName}" placeholder="開発太郎">
                <div class="error"style="color:red" th:errors="*{humanName}"></div>
                </div>
                <div class="contents">
                    <label>社員番号</label><input type="text" id="empId" th:field="*{empId}" placeholder="0000">
                <div class="error" style="color:red" th:errors="*{empId}"></div>
                </div>
                <div class="contents">
                    <label>入社日</label><input type="text" id="title" th:field="*{joinDate}" placeholder="2019-01-01">
                <div class="error" style="color:red" th:errors="*{joinDate}"></div>
                </div>
                <div class="contents">
                <div id="company">
                <div></div>
                    <label style="width:90px;">アサイン先企業</label><input type="text" id="assignCompanyName"  placeholder="○○株式会社">
                </div>
                </div>
                
                <div class="contents">
                    <label>顔写真</label><input th:field="*{iconImage}" type="file" accept=".jpg,.png,image/jpeg,image/png" placeholder=".png/.jpeg"/>
                <div class="error" style=color:red th:errors="*{iconImage}"></div>
                </div>
               </div>

  				</div>

            <div class="base-skill">
                <h2>基本スキル</h2>
                <div class="baseSkillError" style="color:red" th:errors="*{baseSkillScores}"></div>
                <div class="contents baseSkill" th:each="baseSkill:${baseSkillList}">
                    	<label>スキル名</label>
                    	<span class="box" th:text="${baseSkill.baseSkillName}">ここに文章</span>
                    	<input type="hidden" th:value="${baseSkill.baseSkillId}" name="baseSkillIds">
                    	<label id="skill-point">点数</label><input type="number" class="skill-value" th:field="*{baseSkillScores}" value="100" placeholder="100" min="1" max="100">
                </div>
            </div>




            <div class="numeric-skill">
                <h2 class="numerical-ability-header">共通スキル</h2>
                <div class="numerical-abilities" th:each="commonSkill:${commonSkillList}">
                <div class="indivisual-numetic-abilities"></div>
                	<span th:text="${commonSkill.commonSkillName}">対障害</span>&nbsp;&nbsp;&nbsp;
	                	<select name="commonSkillScores">
	                        <option value="1">1</option>
	                        <option value="2">2</option>
	                        <option value="3">3</option>
	                        <option value="4">4</option>
	                        <option value="5">5</option>
	                    </select>
                    <pre class="description" th:text="${commonSkill.description}">コモンスキル</pre>
	                <input type="hidden" th:field="*{commonSkillIds}" th:value="${commonSkill.commonSkillId}">
                </div>
                
            </div>

            <div class="sub-skill">
                <h2 class="special-ability-header">サブスキル</h2>
                <div class="special-abilities">
                   	<div class="subSkillError" style="color:red" th:errors="*{subSkillIds}"></div>
                	<span th:each="subSkill:${subSkillList}">	
	                	<input type="button" th:value="${subSkill.subSkillName}" class="off" onclick="switchOnOff(this)">
	                	<input type="hidden" th:value="${subSkill.subSkillId}" th:field="*{subSkillIds}">
                   	</span>
                </div>
                		<button type="button" id="output" class="btn btn-blue">送信</button>
            </div>
         </form>

        </div>
    </div>

    <div class="modal-box" style="display: none;">
        <div class="back-screen"></div>
        <div class="result-box">
            <textarea id="result"></textarea>
            <div class="modal-footer">
                <button class="btn btn-blue copy">Copy</button>
                <button class="btn btn-red close">Close</button>
            </div>
        </div>
    </div>

    <div class="hide">
        <input type="checkbox" class="ability" data-off="OFF" data-on="ON">

        <div class="numerical-ability">
            <label></label>
            <select class="" name="xxxxx">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class=" description"></div>
        </div>

    </div>
    <script type="text/javascript" th:src="@{js/skill.js}"></script>
</body>
</html>