<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Regist Form</title>

    <link rel="stylesheet" th:href="@{css/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/regist.css}" type="text/css">

<script type="text/javascript" src="js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{js/lib/popper.min.js}"></script>
<script type="text/javascript" th:src="@{js/lib/tooltip.min.js}"></script>



</head>
<body>
	<div th:unless="${user}!=null">
		<h1>Regist Form</h1>
	</div>
	<div th:if="${user}!=null">
		<h1>Edit Form</h1>
	</div>
	<div class="container">
		<div class="form-box">
			<form method="post" id="submit" th:action="@{insertSkills}"
				enctype="multipart/form-data" th:object="${inputSkillForm}">
				<div class="editField" th:if="${user}==null">
					<div class="profile">
						<h2>Profile</h2>
						<div class="contents">
							<label>Name</label><input type="text" id="name" name="humanName"
								placeholder="開発太郎">
						</div>
						<div class="contents">
							<label>Employee Id</label><input type="text" id="empId"
								name="empId" placeholder="0000">
						</div>
						<div class="contents">
							<label>Join Date</label><input type="text" id="title"
								name="joinDate" placeholder="2019-01-01">
						</div>
						<div class="contents">
							<label>Image</label><input th:field="*{iconImage}" type="file"
								accept=".jpg,.png,image/jpeg,image/png" placeholder=".png/.jpeg" />
						</div>
						<div style="color: red" th:errors="*{iconImage}"></div>

						<div class="style">
							<h2>Style</h2>
							<div class="contents">
								<label>Desktop</label> <select id="desktop" name="desktop">
									<option value="Windows">Windows</option>
									<option value="Mac">Mac</option>
									<option value="Linux">Linux</option>
									<option value="Other">Other</option>
								</select>
							</div>
							<div class="contents">
								<label>Mobile</label> <select>
									<option value="iPhone">iPhone</option>
									<option value="Android">Android</option>
									<option value="Windows">Windows</option>
									<option value="FireFox">FireFox</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="editField" th:if="${user==null}">
					<div class="base-skill">
						<h2>Skill Point</h2>

						<div class="contents skill-point"
							th:each="baseSkill:${baseSkillList}">
							<label>Skill Name</label> <span class="box12"
								th:text="${baseSkill.baseSkillName}">ここに文章</span> <input
								type="hidden" th:value="${baseSkill.baseSkillId}"
								name="baseSkillIds"> <label>Skill Point</label><input
								type="number" class="skill-value" name="baseSkillScores"
								value="100" placeholder="100" min="1" max="100">
						</div>
					</div>
				</div>
				<div th:unless="${user==null}">
					<div class="base-skill">
						<h2>Skill Point</h2>
						<div class="contents skill-point"
							th:each="baseSkill:${user.baseSkills}">
							<label>Skill Name</label> <span class="box12"
								th:text="${baseSkill.baseSkill.baseSkillName}">ここに文章</span> <input
								type="hidden" th:value="${baseSkill.baseSkillId}"
								name="baseSkillIds"> <label>Skill Point</label><input
								type="number" class="skill-value" name="baseSkillScores"
								th:value="${baseSkill.baseSkillScore}" min="1" max="100">
						</div>
					</div>
				</div>

				<!-- 	<div class="inherent-skill"
					style="position: relative; height: 100%;">
					<h2>Inherent Ability</h2>
					<div class="contents">
						<label>Name</label><input type="text" id="inherent-ability-name"
							name="inherent-ability-name" value="Ability Name"
							placeholder="Ability Name">
					</div>

					<div class="contents">
						<label>Description</label>
						<textarea id="inherent-ability-value"
							placeholder="Ability Description">Ability Description</textarea>
					</div>
				</div> -->
				<div th:if=${user==null}>
					<div class="numeric-skill">
						<h2 class="numerical-ability-header">Numerical Ability</h2>
						<div class="numerical-abilities"
							th:each="commonSkill:${commonSkillList}">
							<div class="indivisual-numetic-abilities"></div>
							<span th:text="${commonSkill.commonSkillName}">対障害</span>&nbsp;&nbsp;&nbsp;
							<select name="commonSkillScores">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<pre class="description" th:text="${commonSkill.description}">コモンスキル</pre>
							<input type="hidden" name="commonSkillIds"
								th:value="${commonSkill.commonSkillId}">
						</div>

					</div>
				</div>

				<div class="editField" th:unless=${user==null}>
					<div class="numeric-skill">
						<h2 class="numerical-ability-header">Numerical Ability</h2>
						<div class="numerical-abilities"
							th:each="commonSkill,commonSkillStat:${user.commonSkills}">
							<div class="indivisual-numetic-abilities"></div>
							<span th:text="${commonSkill.commonSkill.commonSkillName}">対障害</span>&nbsp;&nbsp;&nbsp;
							<select name="commonSkillScores"
								th:value="${commonSkill.commonSkillScore}"
								th:attr="id='CommonSkillScore['+__${commonSkillStat.index}__+']'"
								class="userCommonSkillScore">
								<option th:each="selectOption:${selectOptions}"
									th:value="${selectOption}"
									th:selected="${selectOption==commonSkill.commonSkillScore}"
									th:text="${selectOption}">
							</select>
							<pre class="description"
								th:text="${commonSkill.commonSkill.description}">コモンスキル</pre>
							<input type="hidden" name="commonSkillIds"
								th:value="${commonSkill.commonSkillId}">
						</div>
					</div>
				</div>


				<div th:if="${user==null}">
					<div class="sub-skill">
						<h2 class="special-ability-header">Special Ability</h2>
						<div class="special-abilities">
							<span th:each="subSkill:${subSkillList}"> <input
								type="button" th:value="${subSkill.subSkillName}" class="off"
								onclick="switchOnOff(this)"> <input type="hidden"
								th:value="${subSkill.subSkillId}" name="subSkillIds">
							</span>
						</div>
						<button type="button" id="output" class="btn btn-blue">Output</button>
					</div>
				</div>


				<div class="editField" th:unless="${user==null}">
					<div class="sub-skill">
						<h2 class="special-ability-header">Special Ability</h2>
						<div class="special-abilities">
							<span th:each="subSkill:${subSkillList}" > <input
							th:value="${subSkill.subSkillName}"
								type="button" 
								th:class="${valueMap[subSkill.subSkillId]}"
								onclick="switchOnOff(this)" 
								><input type="hidden"
								th:value="${subSkill.subSkillId}"
								 name="subSkillIds">
							</span>
						</div>
					<button type="button" id="output" class="btn btn-blue">Output</button>
					</div>
				</div>
			</form> 

		</div>
	</div>

	<div class="modal-box" style="display: none;">
		<div class="back-screen"></div>
		<div class="result-box">
			<textarea id="result"></textarea>
			<div class="modal-footer">
				<button class="btn btn-blue copy">Copy</button>
				<button class="btn btn-red close">Close</button>
			</div>
		</div>
	</div>

	<div class="hide">
		<input type="checkbox" class="ability" data-off="OFF" data-on="ON">

		<div class="numerical-ability">
			<label></label> <select class="" name="xxxxx">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3" selected>3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<div class=" description"></div>
		</div>

	</div>
	<script type="text/javascript" th:src="@{js/skill.js}"></script>



</body>

</html>